@charset "Utf-8";


body {


    width: auto;
    margin-right: -8px;

}
.containermenusup {


    width: auto;
    margin: -8px;
    background-color: #4B4952;
    display: block;
    

    
}

.imgsup{
    
    width: 50px;
    height: 50px;
    padding: 0.5px;
    padding-top: 5px;
    margin-left: -150px;
 
}


.boxbotoessup {  

    margin-left: 150px;
    display: flex;    
                }






.bxtext {
   
    background-color:#b3aec4; 
   
        }


.botoes:hover {background-color: #797683;}        
.botoes {

    color:  #b3aec4;
    display: block;
    align-items: center;
    width: 50%; 
    margin: 2px;
    padding-left: 8%;
    padding-bottom: 2px;
}