@charset "Utf-8";


body {


    width: auto;
    margin-right: -8px;

}
.containermenusup {

    h
    width: 100%;
    margin: -8px;
    background-color: #4B4952;
    display: block;

    
}

.imgsup{
    width: 50px;
    height: 50px;
    padding: 0.5px;
    display: inline-flex;
    margin-top: 4px;
}


.boxbotoessup {
    
  
    display: inline-flex;
    width: 100%; 
    margin-left: 150px;    
}




.botoes:hover, .bxtext {display: block;

    background-color: #747180;
            
                        }

.bxtext {
   
    background-color:#b3aec4; 
    height: 200px;
    width: 200px;
        }


.botoes {

    color:  #b3aec4;
    display: inline-flex;
    align-items: center;
    width: 50%; 
    margin: 2px;
    padding-left: 8%;
    padding-bottom: 2px;
}